<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>予約編集</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <script th:src="@{/js/validation.js}" defer></script>
</head>
<body>
  <h1>予約を編集</h1>

  <form th:action="@{/update}" th:object="${reservation}" method="post" onsubmit="return validateForm()">
    <p>予約ステータス：
      <select th:field="*{status}">
        <option th:each="s : ${T(com.example.reservation_app.model.ReservationStatus).values()}" th:value="${s}" th:text="${s.label}"></option>
      </select>
    </p>
    <input type="hidden" th:field="*{id}">

    <p>名前： 
      <input type="text" th:field="*{name}" class="form-control" minlength="2" maxlength="50" />
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
    </p>
    <p>メール： 
      <input type="email" th:field="*{email}" class="form-control" required />
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
    </p>
    <p>電話番号： 
      <input type="text" th:field="*{phoneNumber}" class="form-control" required pattern="[0-9]{10,11}" />
      <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></span>
    </p>
    <p>
      予約日時：
      <input type="datetime-local" name="reservationTime" th:value="${formattedDateTime}" required class="form-control" />
      <span th:if="${#fields.hasErrors('reservationTime')}" th:errors="*{reservationTime}" class="text-danger"></span>
    </p>

    <button type="submit">更新</button>
  </form>
</body>
</html>